{% extends "page_base.html" %}
{% block title %} Book Flight {% endblock %}
{% block content %}
<form action=/bookflight method=post accept-charset=utf-8>
	{% csrf_token %}
	<input type=hidden name=flight value={{ flight.id }}>
	<p class=table-label>Flight Booking</p>
	<table class=flights-table id=flights cellpadding=0 cellspacing=0>
    <tr>
	<th>From:{{ flight.departure_airport }} </br>at {{flight.departure_time}} </th>
	<th><img src="{{ STATIC_URL }}images/plane.png" alt="Plane" height="50" width="51"></th>
	<th>To:{{flight.arrival_airport}} </br>at {{flight.arrival_time}} </th>
	</tr>

	<tr>
	<td class=table-gray>
    <label>
        Adults (12+)
        <select name=adults id=adults>
            <option value=0>0</option>
			<option selected value=1>1</option>    
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
            <option value=6>6</option>
        </select>
    </label></td>
    <td>
	<label>
        Children (2-11)
        <select name=children id=children>
            <option value=0>0</option>    
            <option value=1>1</option>    
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
        </select>
    </label></td>
    <td class=table-gray>
	<label>
        Infants (Under 2)
        <select name=infants id=infants>
            <option value=0>0</option>    
            <option value=1>1</option>    
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
        </select>
    </label></td>
	</tr>
	</table>
    <align=center><input type=submit name=book id=book value="Book Flight"></align>
</form>
{% endblock %}
