<!DOCTYPE HTML>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>Confirmation</title>
    <script src=//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js></script>
    <link rel=stylesheet href={{ STATIC_URL }}css/style.css type=text/css media=all>
</head>
<body>
	<p class=confirm>You are now a registered user </p>
	<div class=confirm-home>
		 <form action=/ method=post accept-charset=utf-8>
			{% csrf_token %}
            <input type=submit value="Search Flights">
        </form>
	
</body>
</html>