<!DOCTYPE HTML>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>Confirmation</title>
    <script src=//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js></script>
    <link rel=stylesheet href={{ STATIC_URL }}css/style.css type=text/css media=all>
</head>
<body>
	<a href="/">
	<h1 class=logo>Django Travel</h1>
	<h4>Vacation like a rockstar</h4>
	</a>
	<div class=confirm-home>
	{% if request.session.user %}
    <p class=confirm>
        Welcome! You are now a registered user {{ request.session.user }}
        <br>
        <a href=/>Click Here</a> to go back.
    </p>
    {% else %}
        <p class=confirm><a href=/register>Click here</a> to register.</p>
    {% endif %}
</body>
</html>
