{% extends "page_base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class=flight-listings>
    <p class=table-label>Domestic Flights</p>
    <table class=flights-table id=flights cellpadding=0 cellspacing=0>
        <tr>
            <th>Departure Date</th>
            <th>Departure Airport</th>
            <th>Arrival Date</th>
            <th>Arrival Airport</th>
            <th>Price</th>
            <th>Book Flight</th>
        </tr>
        {% if not available_domestic_flights %}
            <tr><td colspan=4 class=no-flights>No available domestic flights found.</td></tr>
        {% else %}
            {% for f in available_domestic_flights %}
            <tr>
                <td class=table-gray>{{ f.departure_time }}</td>
                <td>{{ f.departure_airport }}</td>
                <td class=table-gray>{{ f.arrival_time }}</td>
                <td>{{ f.arrival_airport }}</td>
                <td>${{ f.price }}</td>
                <td class=book-flight> <a href="/bookflight/{{ f.id }}">Book Flight</a> </td>

            </tr>
            {% endfor %}
        {% endif %}
    </table>
    <p class=table-label>International Flights</p>
    <table class=flights-table id=flights cellpadding=0 cellspacing=0>
        <tr>
            <th>Departure Date</th>
            <th>Departure Airport</th>
            <th>Arrival Date</th>
            <th>Arrival Airport</th>
            <th>Price</th>
            <th>Book Flight</th>
        </tr>
        {% if not available_international_flights %}
            <tr><td colspan=4 no-flights>No available international flights found.</td><tr>
        {% else %}
            {% for f in available_international_flights %}
            <tr>
                <td class=table-gray>{{ f.departure_time }}</td>
                <td>{{ f.departure_airport }}</td>
                <td class=table-gray>{{ f.arrival_time }}</td>
                <td>{{ f.arrival_airport }}</td>
                <td>${{ f.price }}</td>
                <td class=book-flight> <a href="/bookflight/{{ f.id }}">Book Flight</a> </td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>
{% endblock %}
