<!DOCTYPE HTML>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>Home</title>
    <script src=//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js></script>
    <link rel=stylesheet href={{ STATIC_URL }}css/style.css type=text/css media=all>
</head>
<body>
	<div id="page">
    {% if request.session.user %}
        <p>Logged in as {{ request.session.user.name }}.</p>
		<p><a href="/logout/">Log out?</a></p>
    {% else %}
    <div class=login-form>
        <form action=/ method=post accept-charset=utf-8>
            {% csrf_token %}
            {% if failed %}
                <p class=error>The password entered was incorrect. Try again.</p>
            {% endif %}
            <input type=text name=user id=user placeholder="User Name">
            <input type=password name=pword id=pword placeholder=Password> 
            <input type=submit value=login>
        </form>
    </div>
    {% endif %}
    <div class=flight-listings>
        <p class=table-label>Domestic Flights</p>
        <table class=flights-table id=flights cellpadding=0 cellspacing=0>
            <tr>
                <th>Departure Date</th>
                <th>Departure Airport</th>
                <th>Arrival Date</th>
                <th>Arrival Airport</th>
				<th>Price</th>
            </tr>
            {% if not available_domestic_flights %}
                <tr><td colspan=4 class=no-flights>No available domestic flights found.</td></tr>
            {% else %}
                {% for f in available_domestic_flights %}
                <tr>
                    <td class=table-gray>{{ f.departure_time }}</td>
                    <td>{{ f.departure_airport }}</td>
                    <td class=table-gray>{{ f.arrival_time }}</td>
                    <td>{{ f.arrival_airport }}</td>
					<td>${{ f.price }}</td>
                    <td> <a href="/bookflight/{{ f.id }}">Book Flight</a> </td>

                </tr>
                {% endfor %}
            {% endif %}
        </table>
		<p class=table-label>International Flights</p>
        <table class=flights-table id=flights cellpadding=0 cellspacing=0>
            <tr>
                <th>Departure Date</th>
                <th>Departure Airport</th>
                <th>Arrival Date</th>
                <th>Arrival Airport</th>
				<th>Price</th>
            </tr>
            {% if not available_international_flights %}
                <tr><td colspan=4 no-flights>No available international flights found.</td><tr>
            {% else %}
                {% for f in available_international_flights %}
                <tr>
                    <td class=table-gray>{{ f.departure_time }}</td>
                    <td>{{ f.departure_airport }}</td>
                    <td class=table-gray>{{ f.arrival_time }}</td>
                    <td>{{ f.arrival_airport }}</td>
					<td>${{ f.price }}</td>
                    <td> <a href="/bookflight/{{ f.id }}">Book Flight</a> </td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
	</div>
</body>
</html>
