<!DOCTYPE HTML>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>Home</title>
    <script src=//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js></script>
    <link rel=stylesheet href={{ STATIC_URL }}css/style.css type=text/css media=all>
	<a href="/">
	<h1 class=logo>Django Travel</h1>
	</a>
	
</head>
<body>
	<div id="page2">
	<table class=head-table>
	<tr>
	<td>
		<a href="\">Home</a> | 
		<a href="\bookflight">Find a Flight</a>
	</td>
	<td align="right">
	{% if request.session.user %}
        Logged in as {{ request.session.user.name }}.
		<a href="/logout/">Log out?</a>
		{% else %}
		<a href="\login">Login</a> | 
		<a href="\register">Register</a>
		{% endif %}
	</td>
	
</tr></table>	
	
    <div class=flight-listings>
        <p class=table-label>Domestic Flights</p>
        <table class=flights-table id=flights cellpadding=0 cellspacing=0>
            <tr>
                <th>Departure Date</th>
                <th>Departure Airport</th>
                <th>Arrival Date</th>
                <th>Arrival Airport</th>
				<th>Price</th>
				<th>Book Flight</th>
            </tr>
            {% if not available_domestic_flights %}
                <tr><td colspan=4 class=no-flights>No available domestic flights found.</td></tr>
            {% else %}
                {% for f in available_domestic_flights %}
                <tr>
                    <td class=table-gray>{{ f.departure_time }}</td>
                    <td>{{ f.departure_airport }}</td>
                    <td class=table-gray>{{ f.arrival_time }}</td>
                    <td>{{ f.arrival_airport }}</td>
					<td>${{ f.price }}</td>
                    <td class=book-flight> <a href="/bookflight/{{ f.id }}">Book Flight</a> </td>

                </tr>
                {% endfor %}
            {% endif %}
        </table>
		<p class=table-label>International Flights</p>
        <table class=flights-table id=flights cellpadding=0 cellspacing=0>
            <tr>
                <th>Departure Date</th>
                <th>Departure Airport</th>
                <th>Arrival Date</th>
                <th>Arrival Airport</th>
				<th>Price</th>
				<th>Book Flight</th>
            </tr>
            {% if not available_international_flights %}
                <tr><td colspan=4 no-flights>No available international flights found.</td><tr>
            {% else %}
                {% for f in available_international_flights %}
                <tr>
                    <td class=table-gray>{{ f.departure_time }}</td>
                    <td>{{ f.departure_airport }}</td>
                    <td class=table-gray>{{ f.arrival_time }}</td>
                    <td>{{ f.arrival_airport }}</td>
					<td>${{ f.price }}</td>
                    <td class=book-flight> <a href="/bookflight/{{ f.id }}">Book Flight</a> </td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
	</div>
</body>
</html>
