<!DOCTYPE HTML>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>Customer Login</title>
	<script src=//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js></script>
    <link rel=stylesheet href={{ STATIC_URL }}css/style.css type=text/css media=all>
</head>
<body>
	<a href="/">
	<h1 class=logo>Django Travel</h1>
	<h4>Vacation like a rockstar</h4>
	</a>
	<div id="page">
	<table class=head-table>
	<tr>
	<td>
		<a href="/">Home</a> | 
		<a href="/bookflight">Find a Flight</a>
	</td>
	<td align="right">
	{% if request.session.user %}
        Logged in as {{ request.session.user.name }}.
		<a href="/logout/">Log out?</a>
		{% else %}
		<a href="/login">Login</a> | 
		<a href="/register">Register</a>
		{% endif %}
	</td>
	
</tr></table>
	<p class=table-label>Login</p>
    <form action=/login method=post class=login accept-charset=utf-8>
        {% csrf_token %}
        {% if failed %}
            <p class=error>The password entered was incorrect. Try again.</p>
        {% endif %}
        <input type=text name=user id=user placeholder="User Name">
        <input type=password name=pword id=pword placeholder=Password> 
        <input type=submit value=login>
    </form>
	</div>
</body>
</html>