<!DOCTYPE HTML>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>Login</title>
    <script src=//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js></script>
    <link rel=stylesheet href={{ STATIC_URL }}css/style.css type=text/css media=all>
</head>
<body>
<div class=login-page>
    <h1 class=logo> <a href="/"> Django Travel </a> </h1>
    <h4>Vacation like a rockstar</h4>
    <div class=login-box>
        <p class=table-label>Login</p>
        <form action=/login method=post class=login accept-charset=utf-8>
            {% csrf_token %}
            {% if failed %}
                <p class=error>The password entered was incorrect. Try again.</p>
            {% endif %}
            <input type=text name=user id=user placeholder="User Name">
            <input type=password name=pword id=pword placeholder=Password> 
            <input type=submit value=login>
        </form>
    </div>
</body>
</html>
