<!DOCTYPE HTML>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>Tickets</title>
    <script src=//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js></script>
    <link rel=stylesheet href=/static/css/style.css type=text/css media=all>

</head>
<body>
	<a href="/">
	<h1 class=logo>Django Travel</h1>
	</a>
	<div id="page">
		<p class=table-label>Ticket Information</p>
		<table class=flights-table id=flights cellpadding=0 cellspacing=0>
			<tr>
				<td class=table-gray>Name</td>
                <td class=table-gray>{{ ticket_info.customer.name }}</td>
			</tr>
            <tr>	
            	<td>Email</td>
				<td>{{ ticket_info.customer.email }}</td>
			</tr>
            <tr>	
            	<td class=table-gray>Seats Booked</td>
				<td class=table-gray>{{ticket_info.flight.seat_type }}</td>
			</tr>
			<tr>
				<td>Ticket Number</td>
				<td>{{ticket_info.customer.id }}</td>
			</tr>
			<tr>
				<td class=table-gray>Adults</td>
				<td class=table-gray>{{ticket_info.adults }}</td>
			</tr>
			<tr>
				<td>Children</td>
				<td>{{ticket_info.children }}</td>
			</tr>
			<tr>
				<td class=table-gray>Infants</td>
				<td class=table-gray>{{ticket_info.infants }}</td>
			</tr>
            <tr>	
            	<td>Departure Airport</td>
				<td>{{ ticket_info.flight.departure_airport }}</td>
			</tr>
             <tr>	
            	<td class=table-gray>Departure Time</td>
				<td class=table-gray>{{ ticket_info.flight.departure_time }}</td>
			</tr>
             <tr>	
            	<td>Arrival Airport</td>
				<td>{{ ticket_info.flight.arrival_airport }}</td>
			</tr>
             <tr>	
            	<td class=table-gray>Arrival Time</td>
				<td class=table-gray>{{ ticket_info.flight.arrival_time }}</td>
			</tr>

		</table>	
	</div>
</body>
</html>